{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="entry">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" id="brands" href="#">
                Captivate Africa <span class="br">{{res.title}}</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <a href="{% url 'logout' %}" type="button" class="btn btn-danger">Logout <i
                        class="las la-sign-out-alt"></i></a>
            </div>
        </div>
    </nav>
</section>
<section class="heros">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="e-text mx-auto text-center">
                    <h5>
                        The New Way To Display <span class="br">{{res.title}}</span> by Captivate Africa
                    </h5>
                    <a type="button" href="#next" class="btn btn-info my-3">Explore Now </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="next">
        <div class="row mb-3 pb-3 e-row">
            {% for pro in pro %}
            <div class="col-md-4">
                <div class="card h-100 e-card">
                    {% if pro.image %}
                    <img src="https://res.cloudinary.com/enock/{{pro.image}}" class="card-img-top ing-fluid" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{pro.title}}</h5>
                        <p class="card-text">{{pro.description}}</p>
                        <a href="{% url 'product' pro.id %}" class="btn btn-primary">Select {{res.title}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
{% endblock %}